<h3>{{'HOME.TITLE' | translate}}</h3>

<div class="section">

    <p>
        {{ 'BEGIN.PART1' | translate }}
    </p>
</div>

<div class="section">

    <mz-card class="parallax-card">
        <mz-card-content>

            <mz-parallax
                    [height]="300">
                <img class="parallax-image" src="assets/images/parallax1.png">
            </mz-parallax>

            <div class="parallax-section white">
                <p>
                    {{ 'BEGIN.PART2' | translate }}
                </p>

            </div>

            <mz-parallax
                    [height]="300">
                <img class="parallax-image" src="assets/images/parallax2.png">
            </mz-parallax>
        </mz-card-content>
    </mz-card>
</div>

<div class="section">

    <p>
        {{ 'BEGIN.PART3' | translate }}
    </p>
</div>

