@import "../../_route-animation-host";

.parallax-card #{'/deep/'} {

  .card-content {
    padding: 0;
  }
  .white {
    background-color: #def8e6 !important;
  }

  .parallax-container {
    z-index: 1;
  }

  .parallax-section {
    padding: 32px;
  }

  .parallax-image {
    opacity: 1;
    height: 700px;
  }

  a {
    word-wrap: break-word;
  }
}