$has-error: #e53935;
.col.s8.m12 /deep/ .white-text label{
  color: white !important;
  width: 100%;
  font-size: 16px;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
  border: 2px solid $has-error;
}
.btn.btn-primary.list {
  margin-top: 1.5em;
}
