.search-action{
  cursor: none;
}
.section.article{
   h4 {
    font-size: 22px;
    color: #2bba9e;
     font-weight: 500;
  }
}
span.badge{
  float: none;
}
.white {
  background-color: #def8e6 !important;
}
.searchReference {
  width: 90%;
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-wrapper-mn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-view {
  margin-bottom: 29px;
}
