<h5 class="light">{{theme}}</h5>
<button mz-button id="btn-topic" class="waves-effect waves-light btn">{{'CONTENT.SIDE'}} </button>
<div class="section" *ngIf="readMode && current">
    <div class="col s12 m8 16">
        <p [innerHtml]="current.content  | liteSearch : searchString">
        </p>
    </div>
</div>
<div class="section" *ngIf="searchMode">
    <div class="row">
        <div class="col s3 m4 l4" *ngFor="let t of totals | searchFor: searchString |paginate: { itemsPerPage: 3, currentPage: page }">
            <mz-card
                    class="blue-green  green-text"
                    [hoverable]="true">
                <mz-card-title>
                    {{t.title}}
                </mz-card-title>
                <mz-card-content>
                    <p [innerHtml]="t.content | highlights: searchString"></p>
                </mz-card-content>
                <mz-card-action>
                    <a (click)="openRead(t,!readMode,searchString)" >{{'SEARCH.GO' | translate}}</a>
                </mz-card-action>
            </mz-card>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 l6">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>

        </div>
    </div>
</div>
<mz-sidenav [id]="'topic'"
            [collapseButtonId]="'btn-topic'"
            [edge]="'right'">

    <mz-sidenav-header>
        <div class="user-view">
            <img class="circle avatar" src="assets/sidenav-demo-avatar.png">
            <div class="name">{{'CONTENT.THEMES' | translate}}</div>

        </div>

    </mz-sidenav-header>
    <mz-sidenav-link>
        <div class="search-wrapper">
            <input placeholder="Buscar" id="search"  (keyup)="startSearch($event)"><i class="material-icons search-action">search</i>
            <div class="search-results"></div>
        </div>
    </mz-sidenav-link>
    <mz-sidenav-link  *ngFor="let content of contents" [active]="content.title==current.title">
        <a (click)="openRead(content, true, '')">{{content.title}}</a>
    </mz-sidenav-link>
</mz-sidenav>