@import "../_variables";

header {
  #{'/deep/'} {
    .side-nav {
      padding-bottom: 0;
      height: 100%;

      .collapsible {
        border-bottom: 1px solid rgba(255,255,255,0.07);
      }

      .collapsible-body {
        background: transparent;
      }

      .collapsible-header {
        padding-left: 22px;
      }
    }

    .sidenav-background,
    .sidenav-button {
      background: #3a5a34 !important;
    }

    .sidenav-button {
      position: fixed;
      top: 16px;
      right: 16px;
      z-index: 24;
    }

    .sidenav-header {
      background: rgba(0,0,0,0.14);
      display: block;
      padding-top: 10px;
      margin-bottom: 0 !important;

      a {
        height: auto;
      }
    }

    a {
      i.caret {
        float: right;
        margin-right: 0;
        -ms-transition: 0.2s;
        -webkit-transition: 0.2s;
        -o-transition:  0.2s;
        transition: 0.2s ease-in-out;
      }

      &.active {
        i.caret {
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -o-transform:  rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }

  .angular-logo {
    display: block;
    margin: 0 auto;
    width: 150px;
  }

  .materialize-logo {
    display: block;
    margin: -62px auto 0;
  }

  .materialize-name {
    background: rgba(0,0,0,0.14);
    font-weight: 200;
    padding: 14px;
    margin-bottom: 0;
  }
}

main {
  margin-bottom: 2rem;
  margin-top: 2rem;

  @media #{$large-and-up} {
    padding-left: 300px;
  }

  .container {
    width: 90% !important;

    @media #{$large-and-up} {
      margin: 0 3%;
    }
  }
}

#collection {

}

#collection .collection .collection-item {
    background-color: transparent !important;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid transparent !important;
  }

#collection-exit .collection .collection-item {
  background-color: transparent !important;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid transparent !important;
}


/* mCustomScrollbar override */

#{'/deep/'} {
  .mCSB_dragger_bar {
    width: 8px !important;
    border-radius: 0px !important;
  }

  .mCSB_scrollTools_vertical {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }

  .mCustomScrollBox {
    padding-bottom: 30px;
  }
}

.modal.modal-fixed-footer.bottom-sheet{
  background: #eeeeee;
}
mz-modal{
  text-align: center;
  background-color: #eeeeee;
  h4{
    font-weight: 700;
  }
}
.text-center {
  text-align: center !important;
}

.active.waves-effect {
  color: rgb(190, 190, 89);
  font-weight: 700;
}

.exit {
  .modal.modal-fixed-footer {
    height: 35% !important;
  }
}
.footer{
  width: 1024px !important;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
  text-transform: lowercase;
}
.side-nav .collapsible-body li a::first-letter, .side-nav.fixed .collapsible-body li a::first-letter {
  text-transform: uppercase;
}
.active{
  background: #4CAF50;
  text-decoration: underline;
}