<header>
  <mz-sidenav #sidenav
    [id]="'sidenav'"
    [backgroundClass]="'sidenav-background'"
    [closeOnClick]="true"
    [collapseButtonId]="'btn-sidenav'"
    [fixed]="true">

    <mz-sidenav-header>
      <a [routerLink]="'home'" routerLinkActive="unSelector">
        <img class="angular-logo" src="assets/images/urgencias.png">
      </a>
      <h5 class="materialize-name center-align white-text">{{ 'SIDEBAR.TITLE' | translate }}</h5>
    </mz-sidenav-header>

    <mz-collapsible *ngFor="let item of menu" let i = index [id]="item.name">

     <mz-collapsible-item [active]="true">
       <mz-collapsible-item-header>
         <i mz-icon-mdi [icon]="'chevron-down'" class="grey-text caret"></i><span class="grey-text">{{ item.name | translate }}</span>
       </mz-collapsible-item-header>

       <mz-collapsible-item-body *ngIf="item.hasChild" [id]="'content'">

         <mz-sidenav-link>
           <a class="waves-effect white-text" [routerLink]="['/home']" routerLinkActive="active">
             <i mz-icon-mdi [icon]="'cards-outline'" class="grey-text lighten-5"></i>{{'BEGIN.TITLE' | translate}}
           </a>
         </mz-sidenav-link>

         <mz-sidenav-link *ngFor="let child of item.children">
           <a class="waves-effect white-text" [routerLink]="[item.url, child]" routerLinkActive="active">
             <i mz-icon-mdi [icon]="'cards-outline'" class="grey-text lighten-5"></i>{{ child | translate }}

           </a>
         </mz-sidenav-link>
       </mz-collapsible-item-body>
     </mz-collapsible-item>

    </mz-collapsible>

    <mz-collection id="collection">
      <mz-collection-item  *ngFor="let item of quests">
        <a style="margin-left: 3em"  *ngIf="!item.hasChild" class="waves-effect" [routerLink]="[item.url]" >
          <!--<i mz-icon-mdi [icon]="'cards-outline'" class="grey-text lighten-5"></i>-->
         <span class="grey-text"> {{ item.name | translate}}</span>
        </a>
      </mz-collection-item>
    </mz-collection>



    <mz-collapsible *ngFor="let item of credits">
      <mz-collapsible-item>
        <mz-collapsible-item-header>
          <i mz-icon-mdi [icon]="'chevron-down'" class="grey-text caret"></i><span class="grey-text">{{ item.name | translate }}</span>
        </mz-collapsible-item-header>
        <mz-collapsible-item-body *ngIf="item.hasChild">
          <mz-sidenav-link *ngFor="let child of item.children">
            <a class="waves-effect white-text" [routerLink]="[item.url, child]" >
              <i mz-icon-mdi [icon]="'cards-outline'" class="grey-text lighten-5"></i>{{ child | translate }}
            </a>
          </mz-sidenav-link>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>

    <mz-collection id="collection-exit">
      <mz-collection-item>
        <a style="margin-left: 3em" class="waves-effect"
          (click)="Salir()">
          <span class="grey-text"> {{'EXIT' | translate}}</span>
        </a>
      </mz-collection-item>
    </mz-collection>


  </mz-sidenav>

  <button mz-button
    class="sidenav-button hide-on-large-only"
    id="btn-sidenav"
    [float]="true"
    [large]="true">
    <i mz-icon-mdi [icon]="'menu'"></i>
  </button>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="row">
    <div class="col s6 m6 l6"></div>
    <div class="col s6 m6 l6 push-s6 push-m6 push-l4">
      <a class="btn-floating btn-large waves-effect waves-light green push-l2 go-top hide"><i class="material-icons">arrow_upward</i></a>
    </div>
  </div>
</footer>
<mz-modal #fixedFooterModal [fixedFooter]="true" [bottomSheet]="false" class="exit">
<!--  <mz-modal-header>-->
<!--    <h4 class="text-center">Informaci&oacute;n</h4>-->
<!--  </mz-modal-header>-->
  <mz-modal-content>
    <p class="text-accent-3 text-center">{{ 'MODAL.SALIR'| translate}}</p>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close (click)="LogOut()">{{ 'MODAL.ACCEPT'| translate}}</button>
    <button mz-button [flat]="true" mz-modal-close >{{ 'MODAL.CANCEL'| translate}}</button>
  </mz-modal-footer>
</mz-modal>
